body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.containerFlex {
    width: 95%;
    height: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 5%;
    border: 10px solid #8B4513; 
    border-radius: 10px;
}

.post-it {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.post-it::before {
    display: none;
    
}

.post-it:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.7); 
}

.n1 {
    transform: rotate(-5deg);
    width: 230px;
    height: 180px;
    margin-left: 10%;
    margin-top: 10%;
    background: linear-gradient(to bottom, #fff9c4 50%, #fff9c4, #fff9c4 70%, #999999);
}

.n2 {
    transform: rotate(5deg);
    width: 230px;
    height: 180px;
    margin-left: 10%;
    margin-top: 10%;
    background: linear-gradient(to bottom, #C8FAC9 50%, #C8FAC9, #C8FAC9 70%, #999999);
}

.n3 {
    transform: rotate(-7deg);
    width: 230px;
    height: 180px;
    margin-left: 10%;
    margin-top: 10%;
    background: linear-gradient(to bottom, #ADADC7 50%, #ADADC7, #ADADC7 70%, #999999a7);
}

.n4 {
    transform: rotate(5deg);
    width: 230px;
    height: 180px;
    margin-left: 10%;
    margin-top: 10%;
    background: linear-gradient(to bottom, #C8FAC9 50%, #C8FAC9, #C8FAC9 70%, #999999);
}

.n5 {
    transform: rotate(3deg);
    width: 230px;
    height: 180px;
    margin-left: 10%;
    margin-top: 10%;
    background: linear-gradient(to bottom, #ADADC7 50%, #ADADC7, #ADADC7 70%, #999999a7);
}

.n6 {
    transform: rotate(2deg);
    width: 230px;
    height: 180px;
    margin-left: 10%;
    margin-top: 10%;
    background: linear-gradient(to bottom, #fff9c4 50%, #fff9c4, #fff9c4 70%, #999999);
}

.n7 {
    transform: rotate(5deg);
    width: 230px;
    height: 180px;
    margin-left: 10%;
    margin-top: 10%;
    background: linear-gradient(to bottom, #C8FAC9 50%, #C8FAC9, #C8FAC9 70%, #999999);
}

.n8 {
    transform: rotate(5deg);
    width: 230px;
    height: 180px;
    margin-left: 10%;
    margin-top: 10%;
    background: linear-gradient(to bottom, #fff9c4 50%, #fff9c4, #fff9c4 70%, #999999);
}

.paragraph {
    font-weight: bold;
    text-align: center;
}